/*
Theme Name: Storefront Child
description: A Storefront child theme
Author: Alicia Euceda
Template: Storefront
Version: 1.0.0
*/

.content-about {
    width: 100%!important;
}
.content-about h1 {
    color:#232f3e;
}
.custom-oauth-button {
    color: #ffffff!important;
    background-color: #5bc5a7!important;
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
    border-radius: 3px;
    text-decoration: none;
}
.custom-oauth-button > .mo_oauth_login_button_widget {
    background-color: #5bc5a7!important;
    border-color: transparent!important;
}
.custom-oauth-button > .mo_oauth_login_button_icon_widget {
    border-right: 1px solid #fff;
}
.login-content {
    max-width: 400px;
    margin: 0 auto;
}
.login-content h2 {
    text-align: center;
}
.site-header {
    background-color: #232f3e;
}
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
    color: #333333;
    color: #FFFFFF;
}